* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Langar", cursive;
}

*:focus {
  outline: none;
}

@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

header {
  background-image: url(https://wallpapercave.com/wp/wp5304661.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height: 100vh;
  font-size: 1.5em;
  text-align: right;
}

.img {
  width: 30%;
  min-width: 200px;
  margin-top: 49px;
  background: transparent;
}

nav {
  display: flex;
  text-align: center;
  background-color: white;
  position: fixed;
}

.nav-element {
  border: 3px solid purple;
  border-top: none;
  border-left: none;
  width: 33.33vw;
  height: 100%;
  background-color: transparent;
  padding: 12px;
  font-size: large;
  transition: 600ms;
  transition-property: background;
}

.about {
  color: red;
}

.nav-element:hover,
.nav-element:focus {
  cursor: pointer;
  background-color: rgba(230, 6, 230, 0.529);
}

.right-element {
  border-right: none;
}

#content {
  margin-top: 20px;
  text-align: center;
  color: purple;
}

.images {
  margin: 10px auto;
  width: 60%;
  min-width: 220px;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

.staff {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.staff-head {
  color: purple;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  background-color: pink;
  padding: 10px;
}

.toc {
  color: rgb(11, 104, 225);
  text-decoration: none;
  font-size: medium;
  transition-duration: 300ms;
  transition-property: color;
}

.toc:hover,
.toc:focus {
  color: purple;
}
